<html>
    <head>
        <title>Captricity Cloud IO</title>

        <script src="{{STATIC_URL}}captricity_cloud_io/libs/jquery-1.8.13/js/jquery-1.6.1.min.js"></script>
        <script src="{{STATIC_URL}}captricity_cloud_io/libs/jquery-1.8.13/js/jquery-ui-1.8.13.custom.min.js"></script>
        <script src="{{STATIC_URL}}captricity_cloud_io/libs/jquery.tmpl.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}captricity_cloud_io/libs/underscore-min.js"></script>

        <script src="{{STATIC_URL}}captricity_cloud_io/libs/underscore.js"></script>
        <script src="{{STATIC_URL}}captricity_cloud_io/plugins.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}captricity_cloud_io/libs/backbone-min.js"></script>


        <script>
            $(document).ready(function() {
                alert("{{ alert_msg }}");
                window.location.href = "{{ redirect }}";
            });
        </script>
    </head>
    <body>
    </body>
</html>
