<html>
<head>
    <meta charset="utf-8">

    <title>CMIS Captricity Integration</title>

    <script src="{{STATIC_URL}}captricity_cloud_io/libs/jquery-1.8.13/js/jquery-1.6.1.min.js"></script>
    <script src="{{STATIC_URL}}captricity_cloud_io/libs/jquery-1.8.13/js/jquery-ui-1.8.13.custom.min.js"></script>
    <script src="{{STATIC_URL}}captricity_cloud_io/libs/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}captricity_cloud_io/libs/underscore-min.js"></script>

    <script src="{{STATIC_URL}}captricity_cloud_io/libs/underscore.js"></script>
    <script src="{{STATIC_URL}}captricity_cloud_io/plugins.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}captricity_cloud_io/libs/backbone-min.js"></script>


<style>
    .file-selected {
        color: #C2C2C2;
    }

    .file-deselected {
        color: #000000;
    }

    .folders-list {
        padding-left: 1em;
    }

    .selected-queue {
        float: right;
    }
</style>

<script type="text/template" id="folders-template">
    <% if (hidden) { %>
        <button class="show" id="<%= id %>">Show</button>
    <% } else { %> 
        <button class="hide" id="<%= id %>">Hide</button>
    <% } %>
    <input type="checkbox" class="select-folder" id="<%= id %>" 
        <% if (selected) { %>
            checked="checked"
        <% } %> 
    />
    <%= name %>
</script>

<script type="text/template" id="file-template">
    <input type="checkbox" class="select-file" id="<%= id %>" 
        <% if (selected) { %>
            checked="checked"
        <% } %> 
    />
    <% if (selected) { %>
        <span class="file-selected">
    <% } else { %>
        <span class="file-deselected">
    <% } %>
        <%= name %>
    </span>
</script>

<script type="text/template" id="folder-tree-template">
    <ul class="folders-list">
    </ul>
</script>

<script type="text/template" id="selected-queue-template">
    <ul class="selected-files-list">
    </ul>
    <br />
    <button class="upload" id="upload-selected">Upload</button>
</script>

<script type="text/template" id="upload-queue-template">
    <ul class="upload-files-list">
    </ul>
</script>

<script type="text/template" id="job-selection-list-template">
    <ul class="job-list">
    </ul>
    <button class="select" id="job-selected">Select</button>
</script>

<script type="text/template" id="job-template">
    <input type="radio" name="select-job" class="select-job" id="<%= id %>" 
        <% if (selected) { %>
            checked="checked"
        <% } %> 
    />
    <% if (selected) { %>
        <span class="file-selected">
    <% } else { %>
        <span class="file-deselected">
    <% } %>
        <%= name %>, <%= status %>
    </span>
</script>
    
<script src="{{STATIC_URL}}captricity_cloud_io/util.js"></script>
<script src="{{STATIC_URL}}captricity_cloud_io/cmis.js"></script>
<script src="{{STATIC_URL}}captricity_cloud_io/cap.js"></script>

<script>
    window.CMISBrowser = Backbone.Router.extend({
        routes: {
            '': 'home',
            'next': 'cmisBrowser',
        },

        initialize: function() {
            this.rootView = new CmisFolderView({
                el: $('<ul id="root-browser"></ul>'),
                model: window.rootFolder
            });

            this.queueView = new SelectedQueueView({});
            this.jlView = new JobListView({});
        },

        home: function() {
            $('#box-browser').empty();
            $('#box-browser').append(this.jlView.render().el);
        },

        cmisBrowser: function() {
            $('#box-browser').empty();
            $('#box-browser').append(this.rootView.render().el);
            $('#box-browser').append(this.queueView.render().el);
        },
    });

    $(document).ready(function() {
        window.rootFolder = new CmisFolder({id:"{{ root_folder_id }}", name:'/'});
        window.rootFolder.fetch();
        window.selectedFiles = new CmisFiles();
        window.jobs = new JobCollection();
        window.jobs.fetch();
        window.selectedJob = null;
        window.App = new CMISBrowser();
        Backbone.history.start();
    });
</script>
</head>

<body>
<div id="box-browser">
</div>
</body>

</html>


