<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{% block title %}{% block sub-title %}{% endblock %}{{ site.name }}{% endblock %}</title>

        <script src="{{STATIC_URL}}captricity_cloud_io/libs/jquery-1.8.13/js/jquery-1.6.1.min.js"></script>
        <script src="{{STATIC_URL}}captricity_cloud_io/libs/jquery-1.8.13/js/jquery-ui-1.8.13.custom.min.js"></script>
        <script src="{{STATIC_URL}}captricity_cloud_io/libs/jquery.tmpl.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}captricity_cloud_io/libs/underscore-min.js"></script>

        <script src="{{STATIC_URL}}captricity_cloud_io/libs/underscore.js"></script>
        <script src="{{STATIC_URL}}captricity_cloud_io/plugins.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}captricity_cloud_io/libs/backbone-min.js"></script>

        <script>
        window.captricity = window.captricity || {};
        {% if request.user.get_profile.captricity_api_token %}
            window.captricity.apiToken = '{{request.user.get_profile.captricity_api_token}}';
        {% else %}
            window.captricity.apiToken = null;
        {% endif %}
        window.captricity.endpointURL = '{{CAPTRICITY_SCHEMA_URL}}'; 
        </script>

        <script src="{{CAPTRICITY_API_TARGET}}static/backbone/schema.js"></script>
        <script src="{{STATIC_URL}}base.js"></script>

        {% block sub-head %}{% endblock %}

    </head>

    <body>{% block body %}{% endblock %}</body>
</html>



